.grey-background {
    background-color: #fafafa;
}

p.btn {
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 0;
}

.output-area {
    background-color: #2B2B2B;
    color: #FFFFFF;
    margin: 8px;
    font-size: 12pt;
}
