<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/customize.css">
    <link rel="stylesheet" href="/lib/codemirror/codemirror.css">
    <script src="/lib/codemirror/codemirror.js"></script>
    <script src="/lib/codemirror/mode/clike.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/checkCookie.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <p class="my-lg-0"></p>
</nav>
<div class="ml-5 mr-5 my-2">
    <h3>Kotlin DSL online editor </h3>

    <form>
        <div class="d-flex p-1 my-2">
            <div class="p-2 my-2">
                <div class="d-flex flex-row p-1">
                    <h5>Edit your app here</h5>
                </div>
                <p class="btn">
                    <input type="button" class="btn btn-primary btn-lg" value="Run" style="float: right;" onclick="updateDsl()">
                </p>
                <textarea id="codeArea" th:text="${code}"></textarea>
            </div>
        </div>
    </form>
</div>
<script>
    var editor = CodeMirror.fromTextArea(document.getElementById("codeArea"), {
        mode: "text/x-kotlin",
        lineNumbers: true,
        indentUnit: 2
    });
</script>
</body>
</html>
